In [1]:
import pandas as pd
orders = pd.read_csv('../data/Orders.csv')

In [2]:
orders.shape

(51290, 24)

In [4]:
import re
orders['Sales']=orders['Sales'].apply(lambda x: re.sub("\$", "", x)).apply(lambda x: re.sub("\,", "", x)).apply(pd.to_numeric)
orders['Profit']=orders['Profit'].apply(lambda x: re.sub("\$", "", x)).apply(lambda x: re.sub("\,", "", x)).apply(pd.to_numeric)

In [5]:
orders['Order.Date'] = pd.to_datetime(orders['Order.Date'])
orders['Ship.Date'] = pd.to_datetime(orders['Ship.Date'])

In [6]:
import matplotlib.pyplot as plt
# plot data by categoy per day
fig, ax = plt.subplots(figsize=(15,7))
# use unstack()
orders.groupby(['Order.Date','Category']).count()['Sales'].unstack().plot(ax=ax,  marker='o', linestyle='', ms=3)
plt.show()

In [29]:
returns = pd.read_csv('../data/Returns.csv')
returns.columns = ['Returned', 'Order.ID', 'Region']
returns.shape

(1079, 3)

In [31]:
returns = pd.merge(orders, returns, on = 'Order.ID', how='inner')
returns.head()

,Row.ID,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,City,...,Sub.Category,Product.Name,Sales,Quantity,Discount,Profit,Shipping.Cost,Order.Priority,Returned,Region_y
0,30191,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,NaN,Taipei,...,Tables,"Lesro Conference Table, with Bottom Storage",1715.16,2,0.0,720.36,725.57,Critical,Yes,Eastern Asia
1,30190,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,NaN,Taipei,...,Bookcases,"Safco Classic Bookcase, Pine",2197.50,5,0.0,153.75,627.27,Critical,Yes,Eastern Asia
2,30187,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,NaN,Taipei,...,Tables,"Lesro Round Table, with Bottom Storage",1356.03,3,0.0,311.85,458.97,Critical,Yes,Eastern Asia
3,30193,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,NaN,Taipei,...,Chairs,"Office Star Swivel Stool, Adjustable",882.15,5,0.0,114.60,203.92,Critical,Yes,Eastern Asia
4,30189,IN-2012-PB19210127-41259,2012-12-16,2012-12-19,First Class,PB-19210127,Phillip Breyer,Corporate,NaN,Taipei,...,Machines,"Okidata Calculator, Red",148.32,3,0.0,68.22,25.48,Critical,Yes,Eastern Asia

In [35]:
neg_profit = returns.loc[returns['Profit'] < 0]
neg_profit.groupby(orders['Order.Date'].dt.year).agg({'Profit':sum})

              Profit
Order.Date
2012        -5929.52
2013        -8060.98
2014       -11653.44
2015       -11188.66

In [38]:
re_customer = returns.groupby('Customer.ID').agg({'Quantity': sum}).sort_values(by = 'Quantity', ascending=False)
re_customer['']

              Quantity
Customer.ID
PO-1885082          51
KH-165101404        46
SS-2059059          37
TB-2140066          36
AJ-1096031          35
JP-1552045          33
MY-1829582          32
SS-205151408        32
SC-202301404        32
BP-110951404        30
GK-14620101         29
JK-1609027          29
KH-166301408        29
MR-1754564          29
BM-1114055          28
ES-1408018          27
GT-147101404        27
SC-2080059          27
NC-185351404        27
BB-1154548          27
PO-1885048          26
DH-130751404        26
MG-181451404        26
BT-1139564          26
SG-200801404        26
PB-19210127         25
AT-1073545          24
DB-13555139         24
JP-155205           24
DL-129257           24
...                ...
CM-21603             1
HG-148451406         1
DA-1345058           1
GR-1456054           1
GM-4680110           1
PF-192251408         1
CS-186038            1
CG-204095            1
LS-172007            1
IM-1507058           1
JD-6015134           1
JK-1609048           1
SS-1051560           1
SC-1068022           1
BM-1785129           1
BP-105095            1
LA-678086            1
LL-6840103           1
DL-2925137           1
JC-577594            1
NF-838538            1
FH-4365134           1
MN-7935147           1
FH-436560            1
SB-1018538           1
DK-130901402         1
SA-10830107          1
MC-1759039           1
DJ-1363018           1
EB-411095            1

[1061 rows x 1 columns]

In [32]:
returns.shape

(2220, 26)

In [34]:
returns.columns

Index(['Row.ID', 'Order.ID', 'Order.Date', 'Ship.Date', 'Ship.Mode',
       'Customer.ID', 'Customer.Name', 'Segment', 'Postal.Code', 'City',
       'State', 'Country', 'Region_x', 'Market', 'Product.ID', 'Category',
       'Sub.Category', 'Product.Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping.Cost', 'Order.Priority', 'Returned', 'Region_y'],
      dtype='object')

In [ ]:
orders.head(10)